<h1><%= @artist.name %> </h1>
<ul>
  <% @artist.songs.each do |song| %>
  <li>
    <a href=<%= song_path(song)%> >
      <%= song.name %>
    </a>
    in
    <a href=<%= genre_path(song.genre)%> >
      <%= song.genre %>
    </a>
  </li>
  <% end %>
</ul>
